<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Authentication Suite" verbose="2">
    <test name="SignIn">
        <classes>
            <class name="testCases.authentication.SignInTest"/>
        </classes>
    </test>
    <test name="SignUp">
        <classes>
            <class name="testCases.authentication.SignUpTest"/>
        </classes>
    </test>
</suite>
